# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
# Logs / temporales
*.log
logs/
*.tmp
*.bak
# Credenciales / llaveros (ajusta a tu caso)
wallet/
*.jks
*.p12
# Liquibase salidas
liquibase-*.sql
liquibase-*.log